
<div>
  <button class="cart" (click)="goToCart()">Cart ({{cart.length}})</button>
  <h1>{{user.username}}'s Dashboard</h1>
  <h3>Item Catalog:</h3>
  <div class="main">
    <div *ngFor="let item of catalog" class="container">
      <div class="thumbnail">
        <!-- <img src="assets/Pants1.jpg" (click)="addToCart(item);" > -->
        <img src="{{getImgPath(item)}}" (click)="addToCart(item);">
        <p class="title">{{ item.description }}</p> 
        <p class="price">{{ item.price | currency }}</p> 
      </div>
    </div>
  </div> 
</div> 