
<div>
  <h1>Users:</h1>

  <div>
    <label>User name:
      <input #userName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(userName.value); userName.value=''">
      add
    </button>
  </div>

  <h2>
    <ul class="users">
      <li *ngFor="let user of users" >
        <a routerLink="/selected/{{user.username}}">
          <span class="badge">{{user.username}}</span> {{user.password}} 
        </a>
        <button class="delete" title="delete user" (click)="delete(user)">x</button>
      </li>
    </ul>
  </h2>
  
</div>